%p#notice= notice

%div{'ng-controller' => 'RoomsController'}
  %dl.room
    %dt
      Name
    %dd
      {{room.name}}
    %dt
      Body
    %dd
      {{room.body}}

= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path
